#sectHead {
    border-bottom: 1px solid #333;
}


/* login sect */

#loginSect {
    padding-top: 70px;
    height: 700px;
    display: flex;
    align-items: center;
}

.loginCtnWr {
    display: flex;
    height: 80%;
    border: 1px solid #333;
}

.loginCtn {
    width: 60%;
    height: 100%;
    padding: 40px 0;
    border-right: 1px solid #333;
}

.loginCtn h4 {
    font-family: "roboto", sans-serif;
    font-size: 26px;
}

.loginCtn p {
    font-family: 'poppins', sans-serif;
    color: #888;
    font-size: 14px;
}

.loginText {
    width: 100%;
    height: auto;
}

.loginText h4 {
    margin-bottom: 5px;
    color: #333;
}

.loginText p {
    color: darkolivegreen;
    margin-bottom: 20px;
}

.usernameAndPassword {
    width: 100%;
    height: auto;
}

.usernamePr,
.passwordPr {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.usernamePr h4,
.passwordPr h4 {
    font-size: 20px;
    margin-bottom: 4px;
    color: #333;
}

.usernamePr p input,
.passwordPr p input {
    width: 80%;
    height: 40px;
    background-color: whitesmoke;
    outline: none;
    border: transparent;
    padding: 0 10px;
}

.seePasswordAndLogin {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
}

.seePasswordCtn {
    width: 100%;
    display: flex;
    align-items: center;
}

.seePasswordCtn label {
    margin-left: 10px;
    font-family: "poppins", sans-serif;
    font-size: 14px;
}

.seePasswordCtn input {
    width: 20px;
    height: 20px;
}

.buttonSubmit {
    width: 100%;
    height: 80px;
    padding-top: 60px;
}

.buttonSubmit button {
    background-color: #888;
    padding: 12px 4em;
    border: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    cursor: not-allowed;
    font-size: 20px;
}

.buttonSubmit button.active {
    padding: 12px 4em;
    background-color: #333;
    color: white;
    border: none;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    cursor: pointer;
    font-size: 20px;
}

.buttonSubmit button:hover.active {
    background-color: darkolivegreen;
}



/* sign up css */

.signUp {
    width: 40%;
    height: 100%;
    padding: 40px 0 40px 16px;

}

.signUp h4 {
    font-family: 'roboto', sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}

.signUp p {
    font-family: 'poppins', sans-serif;
    font-size: 16px;
    color: #888;
    letter-spacing: 1px;
    line-height: 1.3;
    margin-bottom: 20px;
}

.signUp a {
    text-decoration: none;
    color: white;
    background-color: #333;
    padding: 10px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
    font-family: 'poppins', sans-serif;
}

.signUp a:hover {
    background-color: darkolivegreen;
}